@font-face {font-family: always; src: url(../fontes/Always\ Smile.otf);}

body {background-color: #cff7f7;}

nav{background-color: #a677e4;text-align: center;text-decoration: none;
    color: #cff7f7; 
    font-size: 45px;
    padding: 50px;}

nav a {text-decoration: none;color: #bbfaea;border-radius: 20px; font-family: always;}

nav .btsobre{font-family: always;
             font-size: 45px;
             color: #252e2c;
             background-color: #00f7ea;border-radius: 20px;}


nav .btprimeiro{font-family: always;
                font-size: 45px;
                color: #252e2c;
                background-color: #00f7ea;border-radius: 20px;}

nav .btsegundo{font-family: always;
               font-size: 45px;
               color: #252e2c;
               background-color: #00f7ea;border-radius: 20px;}

nav .btterceiro{font-family: always;
                font-size: 45px;
                color: #252e2c;
                background-color: #00f7ea;border-radius: 20px;}
       

.logo{position: relative;
      bottom: 153px;
      left: 150px}

    h1{font-family:Georgia;
       font-size: 40px;
       position: relative;
       top: -500px;
       color: #a677e4;
       text-align: center;
       left: 20px;}
  
.img{position: relative; padding: 15px;}
    .img1 {left: 130px;position: relative;}
    .img1{transition: all 0,5s;cursor: pointer;}
    .img1:hover{filter: drop-shadow(8px 5px 5px #9c9b9b);}

    .img2 {left: 440px;position: relative;}
    .img2{transition: all 0,5s;cursor: pointer;}
    .img2:hover{filter: drop-shadow(8px 5px 5px #9c9b9b);}

    .img3 {left: 720px;position: relative;}
    .img3{transition: all 0,5s;cursor: pointer;}
    .img3:hover{filter: drop-shadow(8px 5px 5px #9c9b9b);}
  
h2{font-family:'Franklin Gothic Medium';
          font-size: 24px;
          line-height: 40px;
          color:#376107;
          text-align:justify;
          top: -90px;
          position: relative;
          width: 520px;
          left: 20px;}
        h2{opacity: 0.3; transition: opacity 1s;}
        h2:hover{opacity: 1;}
        h2{transition: all 0,5s;cursor: pointer;}
        h2:hover{filter: drop-shadow(8px 5px 5px #757474);}
          
      h3{font-family: 'Franklin Gothic Medium';
         font-size: 24px;
         line-height: 40px;
          color:#048ddd;
          text-align:justify;
          top: -240px;
          position: relative;
          width: 480px;
          left: 700px;
          padding: 50px;}
        h3{opacity: 0.3; transition: opacity 1s;}
        h3:hover{opacity: 1;}
        h3{transition: all 0,5s;cursor: pointer;}
        h3:hover{filter: drop-shadow(8px 5px 5px #7c7c7c);}
      
      h4{font-family: 'Franklin Gothic Medium';
         font-size: 24px;
         line-height: 40px;
         color:#ff0d86;
         text-align:justify;
         top: -395px;
         width: 480px;
         position: relative;
         left: 1370px;}
        h4{opacity: 0.3; transition: opacity 1s;}
        h4:hover{opacity: 1;}
        h4{transition: all 0,5s;cursor: pointer;}
        h4:hover{filter: drop-shadow(8px 5px 5px #868686);}
  
      h5{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 25px;}

footer a{padding: 10px;}

.footer{text-align: center;
        background-color: #a677e4;
        padding: 10px;}

        label {color: #8af7ee;position: relative; top: -1200px; left: 1500px;}
        input {background-color: #dfcfee;border-radius: 30px;}

video{position: absolute; right: 680px; top: 550px;}

         h6{font-family: 'Franklin Gothic Medium';
            font-size: 24px;
            line-height: 40px;
            color:#000000;
            text-align:justify;
            top: 1100px;
            width: 300px;
            position: absolute;
            left: 825px;}
        h6{opacity: 0.3; transition: opacity 1s;}
        h6:hover{opacity: 1;}
        h6{transition: all 0,5s;cursor: pointer;}
        h6:hover{filter: drop-shadow(8px 5px 5px #6e6e6e);}


